/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/************************************/
/************************************/
/******                        ******/
/******  CSS de la aplicacion  ******/
/******                        ******/
/************************************/
/************************************/

* {
	box-sizing: border-box;
}

/******  CSS del formulario  ******/

form {
	font-family: museo-sans-rounded, sans-serif;	
	width : 90%;
	/*border : 1px solid red;*/
	margin: .5em 0;
}

form label {	
	display: block;
	width : 95%;
	/*border : 1px solid green;	*/
}

form .label1 {	
	display: block;
	width : 95%;
	/*border : 1px solid green;	*/
}


form span.etiqueta {
	display : inline-block;	
	/*border : 1px solid red;*/
	/*font-size: 17px;*/
	/*font-family: museo-sans-rounded, sans-serif;*/
	width : 200px;
	text-align: right;
	padding: 0 10px 0 0;
	/*vertical-align: top;*/
}

form input[type=text],
form textarea,
form select,
form input[type=password] {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: .95em;
}

form span.campo {
	display : inline-block;	
	/*border : 1px solid blue;*/
	/*font-size: 17px;*/
	/*font-family: museo-sans-rounded, sans-serif;*/
	width : 35%;
	text-align: left;
	padding: 0 0 0 5px;	
	max-width: 35%;
    margin: auto;
}

form input[type=text],
form input[type=password]{
	border: 1px solid #45a049;
	width: 80%;
	padding: 3px 2px 2px 3px;
	margin: 3px;
	border-radius: 4px;	
}

form textarea {	
    /*width: 100%;*/
    /*height: 150px;    */
	/*padding: 12px 20px;*/
    /*box-sizing: border-box;*/
    /*border: 2px solid #ccc;*/
    /*border-radius: 4px;*/
    background-color: #f8f8f8;
    /*font-size: 16px;*/	
    resize: none;
	
	border: 1px solid #45a049;
	width: 80%;
	padding: 3px 2px 2px 3px;
	margin: 3px;
	border-radius: 4px;
}

form fieldset {
	/*width: 47em;*/
	width: 85%;
	border:1px solid green;
	text-align: left;
	padding: 1em;
	/*font:80%/1 sans-serif;*/	
  }
  
form fieldset legend {
  padding: 0.2em 0.5em;
  border:1px solid;
  color:green;
  font-size:90%;
  text-align:left;
}

form .indicaciones {
	font-size : .8em;
	font-weight: bolder;
	/*color: red;*/
}

form .mensaje {
	display : inline-block;	
	/*width : 90%;*/
	/*border : 1px solid blue;*/
	text-align : center;
	margin: 1% 5% 0 5%;	
	
	/*
	width: 80%;
	padding: 3px 2px 2px 3px;
	margin: 3px;*/
}

input[type=password]:focus,
form textarea:focus,
form select:focus,
input[type=text]:focus {
  border: 2px solid darkgreen;
}

/******  FIN CSS del formulario  ******/


.alinear_arriba {
	vertical-align: top;
}

.alinear_derecha {
	text-align: right;
	padding: 4px;
}

.alinear_centro {
	text-align: center !important;
}

span.requerido {
	/*vertical-align: super;*/
	color: red;
}

.minuscula {
	text-transform: lowercase;
}

.alert {
	/*border : 1px solid red;*/
	padding: 2px;
	/*margin-bottom:20px;*/
	border:1px solid transparent;
	border-radius:4px;
	margin-top: 10px;	
	width: 50%;
}

.alert-success {
	color:#3c763d;
	background-color:#dff0d8;
	border-color:#d6e9c6;
}

.alert-info {
	color:#31708f;
	background-color:#d9edf7;
	border-color:#bce8f1;
}

.alert-warning {
	color:#8a6d3b;
	background-color:#fcf8e3;
	border-color:#faebcc;
}

.alert-danger {
	color:#a94442;
	background-color:#f2dede;
	border-color:#ebccd1;
}

.boton {	
	margin: 0 0 0 3px;
	font-size: .9em;
	/************/
	font-family:'Segoe UI','Roboto',sans-serif;
	padding:0.2em 1.45em;	
	margin:0.1em;
	font-weight:400;
	color:#000000;
	text-align:center;	
	display:inline-block;
}

/******  CSS del menu ******/

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

#menu li {
    float: left;
	border-right:1px solid #bbb;
}

#menu li:last-child {
    border-right: none;
}

#menu li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover:not(.activo) {
    background-color: #ddd;
}

#menu li a.activo {
    color: white;
    background-color: #4CAF50;
}

/******  FIN CSS del menu ******/

#contenedor {
	background-color: lightblue; 
	/*border: 2px solid red;*/
    border-radius: 5px;
	margin: 1em;
	padding: 0.5em;
}


/****** Formulario de login ******/
#login {
	/*border: 1px solid black;*/
	border-radius: 15px;
    /*background-color: lightblue; /*#f2f2f2;*/
    padding: 10px;
	margin: 10px;
	/*width: 60%;*/
	/*max-width: 500px;*/
	max-width: 35%;
    margin: auto;
}
#login h2 {
	text-align: left;
	padding-left: .9em;
}

#login fieldset {
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-radius: 15px;	
	width: 100%;	
}

#login fieldset legend {	
	border-radius: 15px;
	padding: 0.2em 0.2em;
	border:0px solid green;
	color:green;	
	font-size:105%;
	text-align:left;
}

#login form {
	/*border-radius: 15px;*/
	width: 100%;	
}

#login label {
	padding-bottom: .5em;
	width: 100%;
}

#login label .mensaje {	
	width: 88%;
}

#login .etiqueta {
	display: block;
	width: 100%;
	text-align: left;
	padding-left: 10px;
}

#login .campo {
	display: block;
	width: 85%;
	max-width: 85%;
	text-align: left;
	/*padding-left: 0em;*/
	/*margin: .5em;*/
}

#login input[type=text],
#login input[type=password] {	
	width: 100%;	
	text-align: left;
	padding-left: 10px;
}

#login .button {
	border-radius: 15px;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#login .derecha {
	text-align: right;	
}
/******  Fin formulario de login ******/




#registros {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#registros td, #registros th {
    border: 1px solid #ddd;
    padding: 8px;
}

#registros tr:nth-child(even){background-color: #f2f2f2;}

#registros tr:hover {
	background-color: #ddd;
	cursor: auto;
}

#registros th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

/**********************/

/******************/
.eliminar {
	width:18px;
	height:18px;
	border:0;
	/*display: inline-block;
	float: left;*/
}
.acciones a{
	text-decoration: none;
}
.acciones {	
	/*display: block;*/
	/*width:45px;*/
	/*clear:both;*/
}

/*************/

/******  Pagina acerca de ******/
#acercade {
	border-radius: 15px;
	border: 1px solid #336600;    
    padding: 10px;
	margin: 10px;	
	max-width: 40%;    
}

#acercade span{
	display: block;
}

#acercade strong{
	display: block;
	font-size:.8em;
}
/******  Fin de pagina acerca de ******/


/******  CSS de los botones ******/
/* https://1stwebdesigner.com/free-code-snippets-css-buttons/ */
.button{
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #555;
  
  background-color: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -ms-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  background-clip: padding-box; /* Fix bleeding */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  text-shadow: 0 1px 0 rgba(255,255,255, .9);
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover{
  background-color: #eee;
  color: #555;
}

.button:active{
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.button.small{
  padding: 4px 12px;
}

.button.green, .button.red, .button.blue {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
  
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}

.button.green{
  background-color: #57a957;
  border-color: #57a957;
}

.button.green:hover{
  background-color: #62c462;
}

.button.green:active{
  background: #57a957;
}

/******  FIN de CSS de los botones ******/


/******  CSS reporte impresion estimaciones  ******/

#impresion_reporte table {
	border-collapse: collapse;
}

#impresion_reporte table, td, th {
	border: 1px solid black;	
}

#impresion_reporte td, th {
	padding: 1px 2px;	
}

/******  FIN CSS reporte impresion estimaciones  ******/
